body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Sofia', sans-serif;
}

/* HEADER */

#header-nav {
    background-color: #999999;
    border-radius: 0;
    border: 0;
}

.navbar-header a h1{
    color: black;
    text-decoration: none;
}

.navbar-header a:hover{
    text-decoration: none;
}

header {
    margin-bottom: 20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

 /* END OF HEADER */

.site-title{
    text-align: center;
}

.site-title{
    margin-bottom: 40px;
}

.gray-bg {
    background-color: #999999;
}

.section-title{
    font-size: 1.5em;
    margin: 10px auto;
    text-align: center;
}

.section-content {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
}

.bottom-spacing {
    margin-bottom: 30px;
}

.black-text{
    color: black;
}

.nav-list-item{
    border: 2px black;
    text-align: center;
}
@media (max-width: 767px) {
    .container{
        margin-right: 5%;
        margin-left: 5%;
    }

    .col-xs-12 {
        float: left;
    }
    .col-xs-12 {
        width: 100%;
    }
}